{% extends "layout/simple-layout.html.twig" %}

{% block title %}Blog - Mattéo Groult{% endblock %}

{% block body_attribut %}blog{% endblock %}

{% block main %}
    <main id="wrapper">
        <section class="all-posts">
            <div class="container-md">
                <div class="all-posts-head">
                    <h1>Blog</h1>
                </div>
                <div class="all-posts-grid">
                    {% for article in articles %}
                        <article>
                            <div class="post-title">
                                <a href="/blog/{{ article.slug }}"><h2>{{ article.title }}</h2></a>
                            </div>
                            <div class="post-meta">
                                <span class="post-date">{{ article.createdAt|date('d M Y') }}</span>
                                <span class="post-categories">{{ article.categories|join(', ') }}</span>
                            </div>
                            <div class="post-description">
                                {{ article.content|slice(0, 300)|raw }}{% if article.content|length > 120 %}... <a href="{{ article.slug }}">Lire la suite</a>{% endif %}
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}