{% extends "layout/simple-layout.html.twig" %}

{% block title %}Projets - Mattéo Groult{% endblock %}

{% block body_attribut %}work{% endblock %}

{% block main %}
    <main id="wrapper">
        <section class="all-projects">
            <div class="container-md">
                <div class="all-projects-head">
                    <h1>Projets</h1>
                </div>
                <div class="all-projects-grid">
                    {% for project in projects %}
                        <article>
                            <div class="project-thumbnail">
                                <a target="_blank" href="{{ project.link }}"><img src="{{ asset('img/project/' ~ project.thumbnail) }}" alt="project thumbnail" class="img-fluid"></a>
                            </div>
                            <div class="project-content">
                                <div class="project-title">
                                    <a target="_blank" href="{{ project.link }}"><h3>{{ project.title }}</h3></a>
                                </div>
                                <div class="project-meta">
                                    <span class="project-date">{{ project.projectDate|date('Y') }}</span>
                                    <span class="project-tag">{{ project.tags|join(', ') }}</span>
                                </div>
                                <div class="project-description">
                                    {{ project.description|raw }}
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}